set_io -nowarn clk_12m        35

set_io -nowarn led_b 37
set_io -nowarn led_r 11

set_io reset 10

set_io vga_clk 38
set_io vga_de 32

set_io vga_hsync 31
set_io vga_vsync 28

set_io vga_b[3] 43
set_io vga_b[2] 42
set_io vga_b[1] 36
set_io vga_b[0] 34
set_io vga_g[3] 47
set_io vga_g[2] 46
set_io vga_g[1] 45
set_io vga_g[0] 44
set_io vga_r[3] 4
set_io vga_r[2] 3
set_io vga_r[1] 2
set_io vga_r[0] 48

set_io flash_sck 15
set_io flash_csn 16
set_io flash_mosi 14
set_io flash_miso 17

set_io -nowarn btn1 20
set_io -nowarn btn2 19
set_io -nowarn btn3 18

