set_io clk_12m 35

set_io btn_u 10
set_io -nowarn led_b 37
set_io -nowarn led_r 11

set_io reset 10

# PMOD 1A

set_io pmod1a_1 4
set_io pmod1a_2 2
set_io pmod1a_3 47
set_io pmod1a_4 45

set_io pmod1a_7 3
set_io pmod1a_8 48
set_io pmod1a_9 46
set_io pmod1a_10 44

# PMOD 1B

set_io pmod1b_1 43
set_io pmod1b_2 38
set_io pmod1b_3 34
set_io pmod1b_4 31
set_io pmod1b_7 42
set_io pmod1b_8 36
set_io pmod1b_9 32
set_io pmod1b_10 28

# Flash

set_io flash_clk 15
set_io flash_csn 16
set_io flash_io[0] 14
set_io flash_io[1] 17
set_io flash_io[2] 12
set_io flash_io[3] 13

# set_io btn[0] 20
# set_io btn[1] 19
# set_io btn[2] 18

set_io uart_rx 6
set_io uart_tx 9

# PMOD 2

set_io pmod2_1 27
set_io pmod2_2 25
set_io pmod2_3 21
set_io pmod2_4 19
set_io pmod2_7 26
set_io pmod2_8 23
set_io pmod2_9 20
set_io pmod2_10 18

