set_io clk_12m 35

set_io btn_u 10
set_io -nowarn led_b 37
set_io -nowarn led_r 11

set_io reset 10

set_io vga_clk 38
set_io vga_de 32

set_io vga_hsync 31
set_io vga_vsync 28

set_io vga_b[3] 43
set_io vga_b[2] 42
set_io vga_b[1] 36
set_io vga_b[0] 34
set_io vga_g[3] 47
set_io vga_g[2] 46
set_io vga_g[1] 45
set_io vga_g[0] 44
set_io vga_r[3] 4
set_io vga_r[2] 3
set_io vga_r[1] 2
set_io vga_r[0] 48

set_io flash_clk 15
set_io flash_csn 16
set_io flash_io[0] 14
set_io flash_io[1] 17
set_io flash_io[2] 12
set_io flash_io[3] 13

# set_io btn[0] 20
# set_io btn[1] 19
# set_io btn[2] 18

set_io uart_rx 6
set_io uart_tx 9

# PMOD 2

set_io pmod2_1 27
set_io pmod2_2 25
set_io pmod2_3 21
set_io pmod2_4 19
set_io pmod2_7 26
set_io pmod2_8 23
set_io pmod2_9 20
set_io pmod2_10 18

